Dockerfile
.dockerignore
node_modules
.next
npm-debug.log
README.md
.git
.gitignore
cypress
docs
test-results
fincrm-android
backend
.env.example
.eslintrc.json
.github
.idx
assets
build-installer.js
components.json
cypress.config.ts
electron.js
jest.config.js
jest.setup.js
jest.setup.ts
loading.html
next-env.d.ts
next.config.js
ole]TreatControlCAsInput = $true; [Console]ReadKey($true)'
package-lock.json
postcss.config.mjs
public/fonts
scripts
tailwind.config.ts
tsconfig.jest.json
tsconfig.json
typescript-debugging-guide.md