# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build files
/.next/
/out/

# Build outputs
build
dist

# Turborepo
.turbo

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env*.local
.env.*.local
!.env.example

# Mac files
.DS_Store
*.AppleDouble

# Visual Studio Code configuration files
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
*.firebase
*.firebaserc
firebase-debug.log
database-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log
functions/node_modules